<a href="https://colab.research.google.com/github/kanhaia21/Assignments/blob/main/Data_Types_and_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

In [4]:
content="""
1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
They are important because they determine how quickly and effectively algorithms can run.

2. Difference between mutable and immutable data types with examples.
•	Mutable → can be changed after creation (e.g., list, dict, set).
lst = [1,2,3]
lst[0] = 10
lst
Output [10, 2, 3]
•	Immutable → cannot be changed once created (e.g., tuple, str, int).
tup = (1,2,3)
tup[0]=10
tup
Output TypeError: 'tuple' object does not support item assignment

3. Main differences between lists and tuples in Python.
•	Lists: mutable, slower, written with [ ].
•	Tuples: immutable, faster, written with ( ).
Tuples are often used for fixed data; lists for dynamic data.

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs in a hash table.
Each key is unique and mapped to a value using its hash.

5. Why might you use a set instead of a list in Python?
•	Sets automatically remove duplicates.
•	Faster lookup operations (in) than lists (O(1) vs O(n)).

6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters (immutable).
A list is a sequence of elements (mutable, can hold mixed data types).

7. How do tuples ensure data integrity in Python?
Since tuples are immutable, their contents cannot be altered.
This ensures stored values remain constant, useful for constants or keys in dictionaries.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are implemented internally using hash tables.
9. Can lists contain different data types in Python?
•	Yes, lists are heterogeneous. Example:
mylist = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
Strings are immutable to ensure:
•	Security (used as dictionary keys).
•	Efficiency (shared memory optimization).
•	Thread safety in multi-threaded programs.

11. Advantages of dictionaries over lists.
•	Dictionaries provide faster lookups (O(1)) using keys.
•	Data retrieval is easier when items are identified by unique keys, not positions.

12. Scenario where a tuple is preferable over a list.
When storing fixed, constant data like coordinates (x, y), configuration values, or dictionary keys.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates.
Example:
s = {1,2,2,3}  # Output: {1,2,3}

14. How does the in keyword work differently for lists and dictionaries?
•	Lists: checks if an element exists in the list.
•	Dictionaries: checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Why or why not?
•	No. Tuples are immutable, so elements cannot be added, removed, or updated.

16. What is a nested dictionary? Example use case.
A dictionary inside another dictionary.
Example:
student = {
    "name": "Rahul",
    "grades": {"math": 90, "science": 85}
}
Use case → storing structured data like JSON.

17. Time complexity of accessing elements in a dictionary.
Average case: O(1) (constant time) due to hashing.
Worst case: O(n) (rare, due to hash collisions).

18. Situations where lists are preferred over dictionaries.
•	When order matters.
•	When data doesn’t need key-value mapping (e.g., storing scores [10,20,30]).

19. Why are dictionaries considered unordered, and how does that affect retrieval?
Before Python 3.7, dictionaries were unordered.
Now (3.7+), insertion order is preserved, but dictionaries are still accessed by keys, not positions.

20. Difference between list and dictionary in terms of data retrieval.
•	List → retrieve by index (position).
mylist = [10,20,30]
mylist[1]
Output  20
•	Dictionary → retrieve by key (unique identifier).
mydict = {"a":10,"b":20}
mydict["b"]
Output  20
"""
print(content)

1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
They are important because they determine how quickly and effectively algorithms can run.

2. Difference between mutable and immutable data types with examples.
•	Mutable → can be changed after creation (e.g., list, dict, set).
lst = [1,2,3]
lst[0] = 10
lst
Output [10, 2, 3]
•	Immutable → cannot be changed once created (e.g., tuple, str, int).
tup = (1,2,3)
tup[0]=10
tup
Output TypeError: 'tuple' object does not support item assignment

3. Main differences between lists and tuples in Python.
•	Lists: mutable, slower, written with [ ].
•	Tuples: immutable, faster, written with ( ).
Tuples are often used for fixed data; lists for dynamic data.

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs in a hash table.
Each key is unique and mapped to a value using its hash.

5. Why might you use a set instead of a list in Python?
•	Sets automatically remove duplicates.
•	Faster lookup operations (in) than lists (O(1) vs O(n)).

6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters (immutable).
A list is a sequence of elements (mutable, can hold mixed data types).

7. How do tuples ensure data integrity in Python?
Since tuples are immutable, their contents cannot be altered.
This ensures stored values remain constant, useful for constants or keys in dictionaries.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are implemented internally using hash tables.
9. Can lists contain different data types in Python?
•	Yes, lists are heterogeneous. Example:
mylist = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
Strings are immutable to ensure:
•	Security (used as dictionary keys).
•	Efficiency (shared memory optimization).
•	Thread safety in multi-threaded programs.

11. Advantages of dictionaries over lists.
•	Dictionaries provide faster lookups (O(1)) using keys.
•	Data retrieval is easier when items are identified by unique keys, not positions.

12. Scenario where a tuple is preferable over a list.
When storing fixed, constant data like coordinates (x, y), configuration values, or dictionary keys.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates.
Example:
s = {1,2,2,3}  # Output: {1,2,3}

14. How does the in keyword work differently for lists and dictionaries?
•	Lists: checks if an element exists in the list.
•	Dictionaries: checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Why or why not?
•	No. Tuples are immutable, so elements cannot be added, removed, or updated.

16. What is a nested dictionary? Example use case.
A dictionary inside another dictionary.
Example:
student = {
    "name": "Rahul",
    "grades": {"math": 90, "science": 85}
}
Use case → storing structured data like JSON.

17. Time complexity of accessing elements in a dictionary.
Average case: O(1) (constant time) due to hashing.
Worst case: O(n) (rare, due to hash collisions).

18. Situations where lists are preferred over dictionaries.
•	When order matters.
•	When data doesn’t need key-value mapping (e.g., storing scores [10,20,30]).

19. Why are dictionaries considered unordered, and how does that affect retrieval?
Before Python 3.7, dictionaries were unordered.
Now (3.7+), insertion order is preserved, but dictionaries are still accessed by keys, not positions.

20. Difference between list and dictionary in terms of data retrieval.
•	List → retrieve by index (position).
mylist = [10,20,30]
mylist[1]
Output  20
•	Dictionary → retrieve by key (unique identifier).
mydict = {"a":10,"b":20}
mydict["b"]
Output  20

#Practical Questions

In [5]:
#1. Write a code to create a string with your name and print it.
name = "Kanhaia Lal Singh"
print(name)

Kanhaia Lal Singh

In [6]:
#2. Write a code to find the length of the string 'Hello World".
text = "Hello World"
print(len(text))

11

In [8]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [9]:
#4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [11]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a, 'b, 'c, 'd'].
chars = ['a', 'b', 'c', 'd']
print(chars[1])   # Index starts at 0 → 'b'

b

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green, 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [18]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat, 'rabbit).
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [20]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [21]:
#16. Write a code to create a set with the elements 'a, b, 'c'and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [22]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [23]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [24]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [25]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [26]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city', and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [27]:
#22. Write a code to add a new key-value pair 'country': "USA" to the dictionary {'name: John, 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23. Write a code to access the value associated with the key 'name" in the dictionary {'name'; 'Alice, 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [29]:
#24. Write a code to remove the key 'age" from the dictionary {'name: 'Bob, 'age': 22, city: 'New York}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': "Alice, 'city: Paris'].
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[15, 35, 51, 53, 89]

In [34]:
#28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [35]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
word_set = set(words)
print(word_set)

{'apple', 'cherry', 'banana'}